---
import Avatar from "../components/Avatar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const description = "The perfect starter for your perfect blog.";
const permalink = Astro.site.href;
---

<BaseLayout description={description} permalink={permalink}>
  <section class="w-full">
    <h1 class="font-['Lobster'] text-7xl text-center my-4 md:my-8">
      Alex Ward
    </h1>
    <aside class="sm:float-right mx-auto">
      <Avatar showContact />
    </aside>
    <div class="text-xl text-neutral-700">
      <p>Hello - I'm Alex 👋</p>
      <p>A software engineer from Nottingham, UK!</p>
    </div>
  </section>
</BaseLayout>
