---
const links = [
    { href: "/blog/", text: "blog" },
    { href: "/projects/", text: "projects" },
    { href: "https://github.com/alxwrd", text: "github" },
    { href: "https://cv.alxwrd.co.uk/", text: "cv" },
];

const { showContact = false } = Astro.props;
---

<div class="w-64 mx-auto">
    <img
        transition:persist
        transition:name={"avatar"}
        class="rounded w-40 h-40 mx-auto sm:block hidden"
        src="https://s.gravatar.com/avatar/6ab87d8fff9622d544257529beaeb4142a5679e2cc3de9a44b3efaf9ed781e32?s=300"
        alt="My avatar: "
        width="150"
        height="150"
    />

    <div class="text-center text-sm py-1">
        {
            links.map(({ href, text }) => (
                <>
                    <p
                        class:list={[
                            "inline-block",
                            "transition",
                            "ease-in-out",
                            "duration-300",
                            "hover:scale-110",
                            Astro.url.pathname == href
                                ? "font-semibold"
                                : "font-normal",
                        ]}
                    >
                        <a href={href}>{text}</a>
                    </p>
                    <span>
                        {href == links[links.length - 1].href ? "" : " · "}
                        &nbsp;
                    </span>
                </>
            ))
        }
    </div>
    {
        showContact && (
            <div class="text-sm w-full m-6">
                <div class="flex flex-col">
                    <div class="w-full">
                        <>
                            <div class="w-20 font-bold inline-block">Email</div>
                            <a href="mailto:alxwrd@googlemail.com">
                                alxwrd@googlemail.com
                            </a>
                        </>
                    </div>
                    <div>
                        <>
                            <div class="w-20 font-bold inline-block">
                                Github
                            </div>
                            <a href="https://github.com">alxwrd</a>
                        </>
                    </div>
                </div>
            </div>
        )
    }
</div>
